.first-rect {
  clip-path: polygon(120% 0, 100% 0, 100% 100%, 0% 100%);
}
.second-rect {
  clip-path: polygon(100% 0, 100% 0, 100% 100%, 0% 100%);
}
.third-rect {
  clip-path: polygon(90% 0, 100% 0, 100% 100%, 0% 100%);
}

.hero-bottom-rect {
  clip-path: polygon(100% 0, 0 0, 100% 100%);
}

@media (min-width: 440px) {
  .first-rect {
    clip-path: polygon(70% 0, 100% 0, 100% 100%, 0% 100%);
  }
  .second-rect {
    clip-path: polygon(60% 0, 100% 0, 100% 100%, 0% 100%);
  }
  .third-rect {
    clip-path: polygon(50% 0, 100% 0, 100% 100%, 0% 100%);
  }
}
@media (min-width: 768px) {
  .first-rect {
    clip-path: polygon(60% 0, 100% 0, 100% 100%, 0% 100%);
  }
  .second-rect {
    clip-path: polygon(50% 0, 100% 0, 100% 100%, 0% 100%);
  }
  .third-rect {
    clip-path: polygon(40% 0, 100% 0, 100% 100%, 0% 100%);
  }
}
